@import "../../global-styles";

.label-input__container {
  display: grid;
  height: 100%;
  grid-template-rows: 42px;
  grid-template-columns: 1fr;
  position: relative;
}

.label-input__container input {
  box-shadow: unset;
}

.labels__container {
  grid-column-start: 1;
  height: 100%;
}

.labels-input__input {
  grid-column-start: 1;
  border: none;
  outline: none;
  background-color: transparent;
}

.labels-input__label {
  background-color: #D5EDEC;
  padding-left: 8px;
  position: absolute;
  margin: 4px;
  top: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 32px;
  align-items: center;
  align-content: center;
}

.labels-input__label-remove {
  grid-column-start: 2;
  justify-self: center;
  color: #24364157;
  cursor: pointer;
}

.labels-input__label-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}