.book-detail__container {
  grid-template-columns: 1fr [first-column-start] 192px [first-column-end] 48px
  [second-column-start] 688px [second-column-end] 1fr;

  grid-template-rows: 80px [title-start] auto [title-end] 40px [description-start] auto [description-end] auto [final-row] ;
}

.book-detail__header {
  grid-column-start: second-column-start;
  grid-column-end: second-column-end;
}

.book-detail__title {
  font-size: 32px;
}

.book-detail__author {
  font-size: 20px;
}

.book-detail__cover {
  grid-column-start: first-column-start;
  grid-column-end: first-column-end;

  grid-row-start: title-start;
  grid-row-end: final-row;
  margin-top:10px;

}

.book-detail__no-image {
  grid-column-start: second-column-start;
  grid-column-end: second-column-end;

  grid-row-start: image-start;
  grid-row-end: image-end;
}

.book-detail__description {
  grid-column-start: second-column-start;
  grid-column-end: second-column-end;

  grid-row: description-start;
  font-size: 16px;
}


.book-detail__available {
  margin-top: 20px;
}

.book-detail__available-text {
  font-size: 20px;
  font-weight: 600;
}


.book-detail__available-icon {
  font-size: 18px;
  margin-top: 3px;
}

.book-detail__image {
  width: 192px;
  height: 296px;
}

.book-detail__no-image {
  width: 192px;
  height: 296px;
}