@import "../../global-styles";

.app-header {
  display: grid;

  align-items: center;
  justify-content: center;
  align-content: center;
  height: 64px;
  background-color: #243641;
  color: white;
}

.app-header__back-button {
  grid-column: 1;
  align-self: center;
  cursor: pointer;
  font-size: 18px;
  margin: 0 auto;
}

.app-header__title {
  width: 100%;
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 20px;
  font-weight: 500;
  font-stretch: condensed;
  font-family: "Avenir Next Condensed", sans-serif;
}
