@import "../../global-styles";

.app-header {
  grid-template-columns: repeat(32, 8px) [header-start] 1fr [header-end] repeat(32, 8px);
  height: 96px;
}

.app-header__title {
  font-size: 40px;
  grid-column-start: header-start;
  grid-column-end: header-end;
}

.app-header__back-button {
  font-size: 24px;
  grid-column-start: 3;
  grid-column-end: 5;
}


#header__return-button {
  @extend .white-button;
  grid-column-start: 34;
  grid-column-end: 47;
}

#header__borrow-button {
  @extend .teal-button;
  grid-column-start: 49;
  grid-column-end: 62;
}
