@import "../../global-styles";

.borrow__top-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40px auto 32px auto 24px auto 24px auto 32px auto;
}

.borrow__title {
  grid-row: 2;
}

.borrow__title--searching {
  display: none;
}

.borrow__find {
  grid-row: 4;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  flex-direction: column;
  position: relative;
}

.borrow__find--searching {
  grid-row: 1;
}

.borrow__find-label--searching {
  display: none;
}

.borrow__name {
  grid-row: 6;
  display: flex;
  flex-direction: column;
}

.borrow__name--searching {
  display: none;
}

.borrow__email {
  grid-row: 8;
  display: flex;
  flex-direction: column;
}

.borrow__email--searching {
  display: none;
}

.borrow__button {
  grid-row: 10;
  justify-self: right;
}

.borrow__button--searching {
  display: none;
}

@media (min-width: $breakpoint-tablet) {
  .borrow__top-container {
    grid-template-columns: 432px;
    justify-content: center;
  }

  .borrow__title--searching {
    display: block;
  }

  .borrow__find--searching {
    grid-row: 4;
  }

  .borrow__find-label--searching {
    display: block;
  }

  .borrow__name--searching {
    display: flex;
  }

  .borrow__email--searching {
    display: flex;
  }

  .borrow__button--searching {
    display: block;
  }
}