@import "global-styles";

.main-content {
  height: 100%;
}

.header--hidden {
  display: none;
}

@media (min-width: $breakpoint-tablet) {
  .header--hidden {
    display: grid;
  }

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
