@import "global-styles";

.top-container {
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  height: 100%;

}

.header--hidden {
  display: none;
  grid-row-start: 1;
}

.content {
  grid-row-start: 2;
  padding: 0 24px;
}

@media (min-width: $breakpoint-tablet) {
  .header--hidden {
    display: grid;
  }

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
