@import "global-styles";

.top-container {
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  height: 100%;

}

.header--hidden {
  display: none;
  grid-row-start: 1;
}

.content {
  grid-row-start: 2;
  padding: 0 $content-padding;
}

@media (min-width: $breakpoint-tablet) {
  .header--hidden {
    display: grid;
  }

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





// Toast

.toast_container {
  position: absolute;
  visibility: hidden;
  bottom: 8px;
  right: 0;
  left: 0;
  margin: auto;
  width: 346px;
  height: 52px;
  line-height: 52px;
  justify-self: center;
  text-align: center;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0 7px 8px -4px #00000033, 0 5px 22px 4px #0000001e, 0 12px 17px 2px #00000023;
  background-color: #14e0d3;
}

.toast_container--trigger {
  visibility: visible;
  animation: show 0.3s cubic-bezier(0.0, 0.0, 0.2, 1), hide 0.3s cubic-bezier(0.4, 0.0, 1, 1) 2.5s forwards;
}

@keyframes show {
  from {bottom: -52px;}
  to {bottom: 8px;}
}

@keyframes hide {
  from {bottom: 8px}
  to {bottom: -52px}
}