$breakpoint-tablet: 772px;
$txt-primary: #243641;
$normal: 400;
$semi-bold: 600;
$large-title: 2rem;
$medium-title: 1.5rem;
$small-title: 1.25rem;
$base: 1rem;
$small-base: 0.875rem;

$content-padding: 24px;

.white-button {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: center;
  color: #14E0D3;
  background-color: #243641;
  width: 112px;
  height: 40px;
  border-radius: 24px;
  border: solid 3px #14E0D3;
  outline: none;
  cursor: pointer;
}

.white-button-small {
  @extend .white-button;
  width: 80px;
  height: 36px;
  font-size: 12px;
}


.white-button:hover {
  border-color: #10F5E6;
  color: #10F5E6;
}

.white-button:active {
  color: #00FFEE;
  border-color: #00FFEE;
}

.teal-button {
  width: 112px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: center;
  border-radius: 24px;
  background-image: linear-gradient(to left, #2df2eb, #14e0b5);
  border-color: #1eccc1;
  border-style: none;
  outline: none;
  cursor: pointer;
}

.teal-button-small {
  @extend .teal-button;
  width: 80px;
  height: 36px;
  font-size: 12px;
}

.teal-button:hover {
  background-image: linear-gradient(to left, #00ffe5, #10f5e6);
}

.teal-button:active {
  background-image: linear-gradient(to left, #00ffe5, #10f5e6);

}