$breakpoint-tablet: 768px;
$txt-primary: #243641;
$normal: 400;
$semi-bold: 600;
$large-title: 2rem;
$medium-title: 1.5rem;
$small-title: 1.25rem;
$base: 1rem;
$small-base: 0.875rem;

.white-button {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #1baea1;
  background-color: white;
  width: 136px;
  height: 48px;
  border-radius: 24px;
  border: solid 2px #1baea1;
  outline: none;
  cursor: pointer;
}

.teal-button {
  width: 136px;
  height: 48px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 24px;
  background-color: #1eccc1;
  border-color: #1eccc1;
  outline: none;
  cursor: pointer;
}