@import "global-styles.scss";

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
    font-family: 'SegoeUI';
    font-style: normal;
    font-weight: 400;
    src: url(assets/segoeui-font/segoeui.ttf);
}

@font-face {
    font-family: 'SegoeUI';
    font-style: normal;
    font-weight: 700;
    src: url(assets/segoeui-font/segoeuib.ttf);
}

@font-face {
    font-family: 'SegoeUI';
    font-style: italic;
    font-weight: 400;
    src: url(assets/segoeui-font/segoeuii.ttf);
}

@font-face {
    font-family: 'SegoeUI';
    font-style: normal;
    font-weight: 300;
    src: url(assets/segoeui-font/segoeuil.ttf);
}

@font-face {
    font-family: 'SegoeUI';
    font-style: italic;
    font-weight: 700;
    src: url(assets/segoeui-font/segoeuiz.ttf);
}

@font-face {
    font-family: 'SegoeUI';
    font-style: normal;
    font-weight: 600;
    src: url(assets/segoeui-font/seguisb.ttf);
}

html, body, #root {
    height: 100%;
    font-family: SegoeUI, sans-serif;
    font-size: $base;
    color: $txt-primary;
}


input {
    font-family: SegoeUI, sans-serif;
    font-size: $base;
    color: $txt-primary;
}