@import "global-styles.scss";

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "SegoeUI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
    font-family: 'SegoeUI';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/segoeui.ttf) url(/fiji/fonts/segoeui.ttf) format('truetype');
}

@font-face {
    font-family: 'SegoeUI';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/segoeuib.ttf) url(/fiji/fonts/segoeuib.ttf) format('truetype');
}

@font-face {
    font-family: 'SegoeUI';
    font-style: italic;
    font-weight: 400;
    src: url(/fonts/segoeuii.ttf) url(/fiji/fonts/segoeuii.ttf) format('truetype');
}

@font-face {
    font-family: 'SegoeUI';
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/segoeuil.ttf) url(/fiji/fonts/segoeuil.ttf) format('truetype');
}

@font-face {
    font-family: 'SegoeUI';
    font-style: italic;
    font-weight: 700;
    src: url(/fonts/segoeuiz.ttf) url(/fiji/fonts/segoeuiz.ttf) format('truetype');
}

@font-face {
    font-family: 'SegoeUI';
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/seguisb.ttf) url(/fiji/fonts/seguisb.ttf) format('truetype');
}

html, body, #root {
    height: 100vh;
    width: 100vw;
    font-family: SegoeUI, sans-serif;
    font-size: $small-base;
    color: $txt-primary;
}


input {
    font-family: SegoeUI, sans-serif;
    font-size: $base;
    color: $txt-primary;
    height: 40px;
    border-radius: 3px;
    border: solid 1px #9797977a;
    padding-left: 8px;
    outline: none;
    -webkit-appearance: none;
}

input:hover {
    box-shadow: 0 2px 4px 0 #0000002a;
}

input:focus {
    border-color: #1baea1;
}

h1 {
    font-size: $small-title;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin: 0;
}

label {
    font-size: $base;
}

@media (min-width: $breakpoint-tablet) {
    html, body, #root {
        font-size: 14px;


        label {
            font-size: 16px;
        }

        h1 {
            font-size: 24px;

        }
    }
}