@import "../../global-styles";
@import "../app-header/app-header";

$top-row: 40px;

.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: $top-row auto 24px auto 32px auto;
}

.header {
  grid-row-start: 2;
  grid-column-start: 2;

  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #243641;
}

.header--searching {
  display: none;
}

label {
  grid-row-start: 1;
  color: #243641;
}

.label--searching {
  display: none;
}

.form {
  grid-row-start: 4;
  grid-column-start: 2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 32px fit-content(162px);

}

.form--searching {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 4;
}

.button-input {
  grid-row-start: 4;
  grid-column-start: 1;
  justify-self: end;
  align-self: end;
  display: grid;
}

.button-input--searching {
  display: none;
}