.container {
  grid-template-columns: auto 400px auto;
}

.header--searching {
  display: grid;
}

.label--searching {
  display: grid;
}

.form--searching {
  grid-row-start: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}

.text-input:hover {
  box-shadow: 0 2px 4px 0 #0000002a;
}

.text-input:focus-within {
  border-color: #1baea1;
}

.text-input__container {
  box-shadow: none;
  margin: 0;
}

.text-input--searching {
  grid-column-start: 1;

  border-left: solid 1px rgba(151, 151, 151, 0.48);
  border-radius: 3px;
}

.back__container--searching {
  display: none;
}

.button-input--searching {
  display: grid;
}

.header {
  font-size: 24px;
}

.text-input {
  margin-top: 3px;
}

.container {
  grid-template-rows: 72px auto 28px auto 32px auto;
}

.search-results {
  overflow-y: auto;
  border-radius: 3px;
  z-index: 1;
  box-shadow: 0 5px 6px -3px #00000033, 0 3px 16px 2px #0000001e, 0 9px 12px 1px #00000023;
}
