@import "../../global-styles";

$top-row: 40px;

.container {
  display: grid;
  grid-template-columns: auto 400px auto;
  grid-template-rows: $top-row auto 32px auto 32px auto;
}

.header {
  grid-row-start: 2;
  grid-column-start: 2;

  font-family: "Helvetica Neue";
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #243641;
}

label {
  font-family: "Helvetica Neue";
  font-size: 14px;
  color: #243641;
}

form {
  grid-row-start: 4;
  grid-column-start: 2;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20px auto auto;

}

.text-input {
  width: auto;
  height: 40px;
  border-radius: 3px;
  border: solid 1px rgba(151, 151, 151, 0.48);
  margin-bottom: 32px;
}

.button-input {
  grid-row-start: 3;
  grid-column-start: 1;
  justify-self: end;
}

@media (min-width: $breakpoint-tablet) {
  .header {
    font-size: 24px;
  }

  label {
    font-size: 18px;
  }

  .text-input {
    margin-top: 3px;
  }

  .container {
    grid-template-rows: 72px auto 32px auto 32px auto;
  }
}





