@import "../../global-styles";

.searching {
  .search__field {
    box-shadow: 0 2px 4px 0 #00000014;
    margin: 0 (-$content-padding);
  }

  .search__back {
    display: grid;
  }

  .search__input {
    grid-column-start: 2;
  }

  .search__back-icon {
    display: grid;
  }
}