@import "../../global-styles";

.library-container {
  display: grid;
  height: 100%;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 368px 62px 62px auto;
}

.image-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  justify-self: center;
  align-self: center;

  width: 248px;
}

#return-button {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
}

#borrow-button {
  grid-row-start: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
}

@media (min-width: $breakpoint-tablet) {
  .image-container {
    width: 348px;
  }
}