@import "../../global-styles";

$image-width: 90px;
$image-height: 139px;

.book-summary__container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: $image-width;
  grid-gap: 4px;
  padding: 8px;
  border-radius: 5px;
}

.book-summary__image {
  width: $image-width;
  height: $image-height;
}

.book-summary__no-image {
  display: flex;
  width: $image-width;
  height: $image-height;
  background-color: #f0f2f2;
  justify-content: center;
  align-items: center;
}

.book-summary__title {
  grid-row: 2;
  grid-column: 1;
  text-overflow: ellipsis;
  width: 104px;
}

.book-summary__quantity {
  grid-row: 3;
  grid-column: 1;
  display: flex;
  font-weight: $semi-bold;
  flex-direction: row;
}

.quantity__icon {
  margin-right: 8px;
  color: #7f8a90;
}

@media (min-width: $breakpoint-tablet) {
  .book-summary__container:hover {
    box-shadow: 0 5px 6px -3px #00000019, 0 3px 16px 2px #0000001e, 0 9px 12px 1px #0000001e;
  }
}