@import "../../global-styles";

.library-browsing__container {
  display: grid;
  counter-reset: grid-items;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  margin-top: 24px;
}

.library-browsing__book {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.library-browsing__loading {
  display: flex;
  width: 100%;
  height: 100%;
}

.library-browsing__loading-icon {
  margin: auto;
}