.library-browsing__container {
  display: grid;
  counter-reset: grid-items;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  margin-top: 24px;
  margin-left: (-8px);
  margin-right: (-8px);
}

.library-browsing__book {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}